[package]
name = "ci-lib"
version = "0.1.0"
edition.workspace = true
publish = false
rust-version.workspace = true

[features]
default = ["std"]
std = ["alloc"]
alloc = []

[dependencies]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(loom)'] }
