name: publish
on:
  workflow_dispatch:
  push:
    branches:
      - main
permissions:
  # release pr
  pull-requests: write
  contents: write
  # crates.io login
  id-token: write
# Safer shell
defaults:
  run:
    shell: bash
env:
  CI: "true"
  CARGO_TERM_COLOR: always
jobs:
  # Release unpublished packages.
  release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - uses: ./.github/actions/install-deps
      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
      - name: Generate GitHub token
        uses: actions/create-github-app-token@v2.2.1
        id: github
        with:
          # GitHub App ID secret name
          app-id: ${{ vars.APP_ID }}
          # GitHub App private key secret name
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      # # Generating a Crates.io token, to publish the crate
      # - name: Authenticate with registry
      #   uses: rust-lang/crates-io-auth-action@v1.0.3
      #   id: creates-io
      - name: create new release
        uses: release-plz/action@v0.5.120
        with:
          command: release
        env:
          GITHUB_TOKEN: ${{ steps.github.outputs.token }}
          # CARGO_REGISTRY_TOKEN: ${{ steps.crates-io.outputs.token }}

  # Create a PR with the new versions and changelog, preparing the next release.
  release-pr:
    name: release-pr
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0
      - uses: ./.github/actions/install-deps
      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
      - name: Generate GitHub token
        uses: actions/create-github-app-token@v2.2.1
        id: github
        with:
          # GitHub App ID secret name
          app-id: ${{ vars.APP_ID }}
          # GitHub App private key secret name
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      # # Generating a Crates.io token, to publish the crate
      # - name: Authenticate with registry
      #   uses: rust-lang/crates-io-auth-action@v1.0.3
      #   id: creates-io
      - name: create release pr
        uses: release-plz/action@v0.5.120
        with:
          command: release-pr
        env:
          GITHUB_TOKEN: ${{ steps.github.outputs.token }}
          # CARGO_REGISTRY_TOKEN: ${{ steps.crates-io.outputs.token }}
