name: release
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release-[0-9]+.[0-9]+
permissions:
  # release pr
  contents: write
  issues: write
  pull-requests: write
  # crates.io login
  id-token: write
# Safer shell
defaults:
  run:
    shell: bash
env:
  CI: "true"
  CARGO_TERM_COLOR: always
jobs:
  release:
    if: ${{ github.repository_owner == 'joshuachp' }}
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      id-token: write
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - name: Generate GitHub token
        uses: actions/create-github-app-token@v2.2.1
        id: github
        with:
          # GitHub App ID secret name
          app-id: ${{ vars.APP_ID }}
          # GitHub App private key secret name
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: googleapis/release-please-action@v4.4.0
        with:
          token: ${{ steps.github.outputs.token }}
